
.body {
    margin: 0;
    line-height: normal;
}

.search-icon {
    position: absolute;
    top: 53px;
    left: calc(50% + 551px);
    width: 45px;
    height: 45px;
}
.icn-shopping-cart-icn-xs {
    position: absolute;
    top: 53px;
    left: calc(50% + 631px);
    width: 48.2px;
    height: 45px;
    overflow: hidden;
}
.menu-bar-icon {
    position: absolute;
    top: 41px;
    left: calc(50% - 707px);
    width: 45px;
    height: 45px;
}
.about-us-child {
    position: absolute;
    top: 515px;
    left: 1008px;
    width: 407px;
    height: 47px;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(50, 241, 207, 0.26);
}
.evaarrow-ios-back-fill-icon {
    position: absolute;
    height: 51.1%;
    width: 12.83%;
    top: 23.4%;
    right: 87.17%;
    bottom: 25.51%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.instance-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.about-us-inner {
    position: absolute;
    height: 4.59%;
    width: 28.26%;
    top: 18.16%;
    right: 71.74%;
    bottom: 77.24%;
    left: 0%;
}
.about-us1 {
    position: absolute;
    top: 314px;
    left: 119px;
    font-size: 24px;
    letter-spacing: -0.3px;
}
.rainy-days-is {
    margin: 0;
}
.design-approach-a {
    margin: 0;
    white-space: pre-wrap;
}
.rainy-days-is-container {
    position: absolute;
    top: 764px;
    left: 451px;
    letter-spacing: -0.3px;
    color: #fff;
    display: inline-block;
    width: 633px;
    height: 749px;
}
.men-btn {
    position: absolute;
    top: 75px;
    left: 328px;
    background-color: rgba(217, 217, 217, 0);
    width: 90px;
    height: 70px;
}
.women-btn {
    position: absolute;
    top: 69px;
    left: 418px;
    background-color: rgba(217, 217, 217, 0);
    width: 136px;
    height: 47px;
}
.about-btn {
    position: absolute;
    top: 72px;
    left: 576px;
    background-color: rgba(217, 217, 217, 0);
    width: 166px;
    height: 40px;
}
.contact-btn {
    position: absolute;
    top: 65px;
    left: 758px;
    background-color: rgba(217, 217, 217, 0);
    width: 162px;
    height: 45px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(50, 241, 207, 0.26);
    width: 1190px;
    height: 92px;
}
.men-women-about {
    position: absolute;
    top: 33px;
    left: 159px;
    letter-spacing: -0.3px;
    white-space: pre-wrap;
    display: inline-block;
    width: 756px;
}
.rectangle-parent {
    position: absolute;
    top: 40px;
    left: 73px;
    width: 1190px;
    height: 92px;
}
.rainydays-logo-3-icon {
    position: absolute;
    top: 1483px;
    left: 3px;
    width: 229px;
    height: 91px;
    object-fit: cover;
}
.about-us {
    width: 100%;
    position: relative;
    height: 1590px;
    overflow: hidden;
    background-image: url('assets/images/mountine men.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 36px;
    color: #000;
    font-family: Alice;
}


