.checkout {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.checkout .product-summary {
    text-align: center;
    max-width: 300px;
    margin-right: 20px;
}

.checkout .product-summary img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.checkout .checkout-details {
    max-width: 400px;
}

.checkout .checkout-details h2 {
    margin-bottom: 20px;
}

.checkout .checkout-details label, .checkout .checkout-details select, .checkout .checkout-details p, .checkout .checkout-details button {
    display: block;
    margin-bottom: 10px;
}

.checkout .btn {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .checkout {
        flex-direction: column;
        align-items: center;
    }

    .checkout .product-summary {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
