.body {
    margin: 0;
    line-height: normal;
    }


.shopping-cart-icon {
    position: absolute;
    top: 47px;
    left: calc(50% + 646px);
    width: 45px;
    height: 45px;
}
.menu-bar-icon {
    position: absolute;
    top: 25px;
    left: calc(50% - 703px);
    width: 45px;
    height: 45px;
}
.icn-shopping-cart-icn-xs {
    position: absolute;
    height: 63.83%;
    width: 16.04%;
    top: 23.4%;
    right: 71.12%;
    bottom: 12.77%;
    left: 12.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.45;
}
.chekout1 {
    position: absolute;
    width: 36.9%;
    top: 21.28%;
    left: 35.87%;
    letter-spacing: -0.3px;
    display: inline-block;
}
.icn-shopping-cart-icn-xs-parent {
    position: absolute;
    top: 175px;
    left: 24px;
    width: 407px;
    height: 47px;
    font-size: 24px;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(50, 241, 207, 0.26);
}
.evaarrow-ios-back-fill-icon {
    position: absolute;
    height: 51.06%;
    width: 12.83%;
    top: 23.4%;
    right: 87.17%;
    bottom: 25.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.instance-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.chekout-inner {
    position: absolute;
    height: 3.05%;
    width: 28.26%;
    top: 11.37%;
    right: 71.88%;
    bottom: 85.58%;
    left: -0.14%;
}
.sek-2400 {
    position: absolute;
    height: 1.83%;
    width: 13.26%;
    top: 53.28%;
    left: 56.67%;
    letter-spacing: -0.3px;
    display: inline-block;
}
.select-your-payment {
    position: absolute;
    top: 992px;
    left: 281px;
    letter-spacing: -0.3px;
}
.select-shipping {
    position: absolute;
    top: 674px;
    left: 292px;
    letter-spacing: -0.3px;
    white-space: pre-wrap;
}
.component-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 21.5px;
    background-color: #ff5500;
    opacity: 0.8;
}
.component-item {
    position: absolute;
    height: 83.73%;
    width: 50%;
    top: 8.11%;
    right: 48.6%;
    bottom: 8.16%;
    left: 1.4%;
    border-radius: 18.5px;
    background-color: #fff;
}
.home-delivery {
    position: absolute;
    top: 32%;
    left: 7.69%;
}
.pick-up-in {
    position: absolute;
    top: 32%;
    left: 58.55%;
    color: #fff;
}
.rectangle-parent {
    position: absolute;
    top: 713px;
    left: 486px;
    width: 468px;
    height: 75px;
    text-align: left;
}
.chekout-child {
    position: absolute;
    top: 1030px;
    left: 583px;
    width: 273px;
    height: 188px;
}
.visa-inc-logo-1-icon {
    position: absolute;
    top: 1062px;
    left: 664px;
    width: 49px;
    height: 16px;
    overflow: hidden;
}
.div1 {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: 0.08em;
    line-height: 0%;
    font-weight: 500;
}
.div {
    position: absolute;
    top: 1105px;
    left: 597px;
    width: 119px;
    height: 19px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: 'SF Pro Display';
}
.chip-1-icon {
    position: absolute;
    top: 1158px;
    left: 626px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.div3 {
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: 500;
}
.div2 {
    position: absolute;
    top: 1164px;
    left: 710px;
    width: 33px;
    height: 14px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: 'SF Pro Display';
}
.chekout-item {
    position: absolute;
    top: 1218px;
    left: 422px;
    width: 133px;
    height: 62px;
}
.component-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 14px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}
.apple-pay-logo-1-icon {
    position: absolute;
    height: 38.13%;
    width: 53.4%;
    top: 30.91%;
    right: 22.39%;
    bottom: 30.96%;
    left: 24.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-group {
    position: absolute;
    top: 1236px;
    left: 616px;
    width: 200px;
    height: 75px;
}
.subtotal-1-items {
    position: absolute;
    top: 816px;
    left: 486px;
    text-align: left;
}
.sek-24001 {
    position: absolute;
    top: 909px;
    left: 878px;
    text-align: left;
}
.shipping-cost {
    position: absolute;
    top: 864px;
    left: 485px;
    text-align: left;
}
.free {
    position: absolute;
    top: 864px;
    left: 881px;
    text-align: right;
}
.line-icon {
    position: absolute;
    top: 893px;
    left: 543px;
    max-height: 100%;
    width: 358px;
}
.rectangle-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 80px;
    background-color: #ff5500;
}
.finalize-purchase {
    position: absolute;
    top: 22.06%;
    left: 20.16%;
}
.rectangle-container {
    position: absolute;
    top: 1354px;
    left: 486px;
    width: 496px;
    height: 68px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Inter;
}
.icn-search-icn-xs {
    position: absolute;
    top: 48px;
    left: calc(50% + 570px);
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.rainydays-logo-3-icon {
    position: absolute;
    top: 1438px;
    left: 0px;
    width: 229px;
    height: 91px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(50, 241, 207, 0.26);
    width: 1190px;
    height: 92px;
}
.men-women-about {
    position: absolute;
    top: 33px;
    left: 159px;
    letter-spacing: -0.3px;
    white-space: pre-wrap;
    display: inline-block;
    width: 756px;
}
.group-div {
    position: absolute;
    top: 25px;
    left: 87px;
    width: 1190px;
    height: 92px;
    font-size: 36px;
}
.instance-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10.43%;
    right: 0%;
    bottom: 10.43%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.sek-24002 {
    position: absolute;
    top: 89.57%;
    left: 28.22%;
    letter-spacing: -0.3px;
}
.group-parent {
    position: absolute;
    top: 286px;
    left: 584px;
    width: 282px;
    height: 322px;
    font-size: 24px;
}
.hp-paramount-softshell {
    position: absolute;
    top: 598px;
    left: 598px;
    font-size: 24px;
    letter-spacing: -0.3px;
    white-space: pre-wrap;
    display: inline-block;
    width: 216px;
    height: 24px;
}
.group-icon {
    position: absolute;
    top: 1241px;
    left: 876px;
    width: 200px;
    height: 75px;
}
.men-btn {
    position: absolute;
    top: 57px;
    left: 328px;
    background-color: rgba(217, 217, 217, 0);
    width: 79px;
    height: 43px;
}
.women-btn {
    position: absolute;
    top: 68px;
    left: 422px;
    background-color: rgba(217, 217, 217, 0);
    width: 154px;
    height: 32px;
}
.about-btn {
    position: absolute;
    top: 58px;
    left: 583px;
    background-color: rgba(217, 217, 217, 0);
    width: 165px;
    height: 33px;
}
.contact-btn {
    position: absolute;
    top: 60px;
    left: 788px;
    background-color: rgba(217, 217, 217, 0);
    width: 121px;
    height: 39px;
}
.chekout {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1539px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Alice;
}

