.contact-us {
    padding: 20px;
    text-align: center;
}

.contact-us h2 {
    margin-bottom: 20px;
}

.contact-us form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-us form label {
    display: block;
    margin-bottom: 5px;
}

.contact-us form input, .contact-us form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-us form input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.contact-us form button {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}