
.product-detail {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.product-detail .product-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

.product-detail .product-info {
    margin-left: 20px;
    max-width: 400px;
}

.product-detail .product-info h2 {
    margin-bottom: 10px;
}

.product-detail .product-info p {
    margin-bottom: 20px;
}

.product-detail .product-info label, .product-detail .product-info select, .product-detail .product-info button {
    display: block;
    margin-bottom: 10px;
}

.product-detail .btn {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
    }

    .product-detail .product-info {
        margin-left: 0;
        margin-top: 20px;
    }
}
