/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #333;
    --text-color: #fff;
    --font-family: Arial, sans-serif;
    --font-family: 'Alice', serif;
    --font-size-large: 2em;
    --font-size-medium: 1.5em;
    --font-size-small: 1em;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
}


